.carousel {
    contain:content;
}

.carnav {
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
.carnav span {
    opacity:0.5;
    user-select: none;
    margin: 0 2px;
}
.carnav span:hover {opacity:0.7;}
.carnav span.focus {opacity:1;}