.volunteer, .skill, .step, .testimony {
    background-color: var(--color-color-01);
    margin: 12px;
    width: 100%;
    z-index: 1;
    contain:content;
    transition:.2s;
}

.volunteer img {
    object-fit: cover;
    width:100%;
}

.volunteer .overlay {
    width: 100%;
    height: 50%;
    background: linear-gradient(0,#000c,#0008,#0000);
    color: var(--color-background);
    position: fixed;
    bottom: 0;
    z-index: 3;
    opacity: 0;
    transition: .2s;
}
.volunteer:hover .overlay {opacity: 1;}

.volunteer .overlay div {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 4;
}

.volunteer h5, .skill h5, .step h5, .testimony h5, .assignment h5 {
    font-size: 1.5rem;
    font-weight: bold;
}

.volunteer h6, .skill h6, .step h6, .testimony h6, .assignment h6 {
    font-size: 1.1rem;
    font-weight: bold;
}

.title {
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    letter-spacing: -1.5px;
}

#skills {
    background-color: var(--color-neutral-01);
    border-radius: 20px;
}

.skill {
    background-color: var(--color-background);
}

.skill p {
    font-weight: 300;
    line-height: 170%;
}

.step {
    background: var(--color-background);
    border: 1px solid rgba(115, 115, 115, 0.2);
    text-align: center;
}

.testimony {
    background: var(--color-neutral-01);
}
.testimony .origin {}

.assignment {
    border-radius: 16px;
    margin: 12px;
    width: 100%;
    contain:content;
    transition:.2s;
}

.assignment h5 {color:white}
